.events-content {
  position: relative;
  width: 100%;
  margin: 2em 0;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.events-content li.enter-right,
.events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.events-content li.enter-left,
.events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.events-content li.leave-right,
.events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
.events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Outfit", sans-serif !important;
  font-weight: 700;
  line-height: 1.2;
}
.events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.events-content em::before {
  content: "- ";
}
.events-content p {
  font-size: 1.4rem;
  color: #959595;
}
.events-content em,
.events-content p {
  line-height: 1.6;
}
@media only screen and (min-width: 768px) {
  .events-content h2 {
    font-size: 7rem;
  }
  .events-content em {
    font-size: 2rem;
  }
  .events-content p {
    font-size: 1.8rem;
  }
}
