.single-post-text ul {

    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.single-post-text ul>li {
    list-style-type: disc;
}


.single-post-text ul>li{
    margin-bottom: .25rem;
}
/* li::marker {
    color: red;
  } */
 