.main-footer__about {
  color: rgb(93, 93, 93);
font-family:  "Outfit", sans-serif !important;
  font-size: 15px;
  font-weight: 500;
}

.main-footer__about p {
  color: rgb(93, 93, 93);
font-family:  "Outfit", sans-serif !important;
  font-size: 15px;
  font-weight: 400;
}

.main-footer__about a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family:  "Outfit", sans-serif !important;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -2.4px;
}

@media (max-width: 767px) {
  .main-footer__about a {
    color: rgb(255, 255, 255);
    cursor: pointer;
  font-family:  "Outfit", sans-serif !important;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -1px;

  }
}

.mil-dark-back {
  position: relative;
}

.mil-dark-back:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  background-color: black !important;
  /* -webkit-backdrop-filter: invert(100%);
    backdrop-filter: invert(100%); */
}

.mil-dark-back .mi-inverter-fix {
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
}

.mil-dark-back .mi-inverter-fix .container {
  pointer-events: all;
}

.mil-soft-bg {
  background-color: rgb(242, 242, 242);
}

.mil-dark-backs {
  background-color: black;
}