.subscribe_bg {
  background-color:#545454;
    /* background-image: url("../../assests/images/landing/cross.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 33vh !important;
  }
  .subscribe_bg_overlay {
    /* background-color: #21212194; */
    display: grid;
    place-items: center;
    align-items: center;
    height: 100%;
  }
  .sofar{
    font-size: 35px;
  font-weight: 700;
  }
  .striplor{
font-size: 18px;
font-weight: 400;
  }
  .button{
    background-color:#ff9900;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .button:hover{
    background-color: #ff9900;
    
  }
  .buttonsabout{
    background-color: #ffffff ;
    color: #ff9900;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
  }
  .buttonsabout:hover{
    background-color:#ff9900 ;
    color: #fff;
  }
  /* landscape */
  @media screen and (min-width: 1366px) and (min-height: 1024px) {
    .subscribe_bg {
      height: 40vh !important;
    }
  }
  
  /* ipadpro */
  @media screen and (min-width: 991px) and (max-width: 1030px) {
    .subscribe_bg {
      height: 30vh !important ;
    }
  }
  
  
  /* mobile */
  @media screen and (max-width: 768px) {
   
  
  
    .subscribe_bg {
      width: 100%;
      padding: 50px 0px;
      height:35vh !important ;
  
    }
    .sofar{
      font-size: 25px;
      /* margin-left: 12px; */
      font-weight: 700;
    }
    .infra{
      font-size: 19px !important;
      /* margin-top: 18px; */
      /* margin-left: 12px; */
            font-weight: 200;
    }
   
  .sidehojao{
    margin-left: -25px !important;
  }
    .butsn{
      width: 100% !important;
      /* margin-top: -35px !important; */
      margin-left: 12px;
    }}
  