.mobilevideo {
  display: none;
}


.systemvideo {
  display: block;
}

.mil-no-wrap {
  white-space: nowrap;
}

.contactus_parallax3 {
  background-image: url("../../assests/images/landing/cube.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

blockquote {
  padding: 60px;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-style: italic;
  border-left: solid 4px #ffd94a;
}

@media screen and (max-width: 768px) {
  blockquote {
    padding: 30px;
    font-size: 16px;
  }
}

.mil-text-sm {
  font-size: 15px;
}

.mil-text-lg {
  font-size: 18px;
  line-height: 170%;
}

.mil-text-xl {
  font-size: 18px;
  line-height: 180%;
}

@media screen and (max-width: 768px) {
  .mil-text-xl {
    font-size: 15px;
  }
}

.mil-upper {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.mil-bold {
  font-weight: 500;
}

.mil-thin {
  font-weight: 100 !important;
  color: rgba(0, 0, 0, 0.914) !important;
}

.mil-thins {
  font-weight: 100 !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.mil-complex-title {
  line-height: normal;
}

.mil-accent {
  color: #fff;
}

.mil-light {
  color: rgb(255, 255, 255) !important;
}

.mil-light a {
  color: rgb(255, 255, 255) !important;
}

.mil-muted {
  color: rgba(255, 255, 255, 0.9);
}

.mil-dark {
  color: rgb(0, 0, 0);
}

.mil-light-soft {
  color: rgba(255, 255, 255, 0.4);
}

.mil-dark-soft {
  color: rgba(0, 0, 0, 0.5);
}

.mil-marker {
  background-color: #ffd94a;
  padding: 0 5px;
}

.mil-center {
  text-align: center;
}

.mil-left {
  text-align: left;
}

.mil-right {
  text-align: right;
}

@media screen and (max-width: 576px) {
  .mil-sm-center {
    text-align: center;
  }
}

.mil-suptitle {
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.mil-suptitle:before {
  content: "";
  position: absolute;
  right: calc(100% + 30px);
  top: 10px;
  width: 600px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  opacity: 0.2;
}

.mil-suptitle.mil-suptitle-right {
  text-align: right !important;
}

.mil-suptitle.mil-suptitle-right:before {
  left: calc(100% + 30px);
}

@media screen and (max-width: 768px) {
  .mil-suptitle.mil-suptitle-right {
    text-align: center;
  }

  .mil-suptitle.mil-suptitle-right:before {
    display: none;
  }
}

.mil-suptitle.mil-suptitle-dark:before {
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  .mil-suptitle {
    margin-bottom: 60px;
  }
}

.mil-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.mil-img-frame {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 140%;
}

.mil-img-frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* -------------------------------------------

link

------------------------------------------- */
.mil-link {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

.mil-link svg {
  margin-left: 15px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-color: #ffd94a; */
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-link svg path {
  fill: rgb(255, 255, 255);
}

.mil-links svg {
  margin-left: 15px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
  background-color: #ffd94a !important;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-links svg path {
  fill: rgb(0, 0, 0);
}

.mil-link.mil-accent svg {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-link.mil-accent svg path {
  fill: #ffd94a;
}

.mil-link.mil-dark svg {
  background-color: rgba(255, 255, 255, 0.37);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-link.mil-dark svg path {
  fill: rgb(0, 0, 0);
}

.mil-link:hover svg {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.mil-link.mil-down-arrow svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mil-link.mil-down-arrow:hover svg {
  -webkit-transform: scale(1.15) rotate(90deg);
  transform: scale(1.15) rotate(90deg);
}

.mil-link.mil-icon-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.mil-link.mil-icon-left svg {
  margin-left: 0;
  margin-right: 15px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mil-link.mil-icon-left:hover svg {
  -webkit-transform: scale(1.15) rotate(180deg);
  transform: scale(1.15) rotate(180deg);
}

/* -------------------------------------------

button

------------------------------------------- */
.mil-button {
  cursor: pointer;
  /* display: -webkit-inline-box;
  display: -ms-inline-flexbox; */
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  letter-spacing: 2px;
  font-size: 12px;
  background-color: #ffd94a;
  color: rgb(0, 0, 0);
  border-radius: 70px;
  padding: 0 10px 0 35px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-button span {
  white-space: nowrap;
}

.mil-button svg {
  margin-left: 30px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-button svg path {
  fill: #ffd94a;
}

.mil-button.mil-icon-button {
  padding: 15px;
}

.mil-button.mil-icon-button svg {
  margin-left: 0;
}

.mil-button.mil-icon-button-smq {
  padding: 0;
  height: 18px;
}

.mil-button.mil-icon-button-sm {
  padding: 8px;
  height: 35px;
}

.mil-button.mil-icon-button-sm svg {
  margin-left: 0;
  background-color: #ffd94a;
}

.mil-button.mil-icon-button-sm svg path {
  fill: rgb(0, 0, 0);
}

.mil-button.mil-icon-button-sm2 {
  padding: 0px;
  height: 35px;
}

.mil-button.mil-icon-button-sm2 svg {
  margin-left: 0;
  background-color: #ffd94a;
}

.mil-button.mil-icon-button-sm2 svg path {
  fill: rgb(0, 0, 0);
}

.mil-button:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.mil-button:hover svg {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.mil-button.mil-arrow-down svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mil-button.mil-arrow-down:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.mil-button.mil-arrow-down:hover svg {
  -webkit-transform: scale(1.15) rotate(90deg);
  transform: scale(1.15) rotate(90deg);
}

@media screen and (max-width: 992px) {
  .mil-button {
    height: 60px;
    padding: 0 10px 0 40px;
  }

  .mil-button svg {
    margin-left: 25px;
  }
}



/* -------------------------------------------

breadcrumbs

------------------------------------------- */
.mil-breadcrumbs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.mil-breadcrumbs:before {
  content: "";
  position: absolute;
  right: calc(100% + 30px);
  top: 10px;
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.mil-breadcrumbs li {
  list-style-type: none;
}

.mil-breadcrumbs li:after {
  content: "/";
  margin: 0 15px;
  color: rgb(0, 0, 0);
}

.mil-breadcrumbs li a {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-breadcrumbs li a:hover {
  color: #ffd94a;
}

.mil-breadcrumbs li:last-child {
  margin-right: 0;
  cursor: not-allowed;
}

.mil-breadcrumbs li:last-child a {
  opacity: 0.4;
  pointer-events: none;
}

.mil-breadcrumbs li:last-child:after {
  display: none;
}

.mil-breadcrumbs.mil-light:before {
  background-color: rgba(255, 255, 255, 0.1);
}

.mil-breadcrumbs.mil-light li:after {
  color: rgba(255, 255, 255, 0.9);
}

.mil-breadcrumbs.mil-light li a:hover {
  color: #ffd94a !important;
}

.mil-breadcrumbs.mil-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* -------------------------------------------

backgrounds

------------------------------------------- */
.mil-dark-bg {
  position: relative;
}

.mil-dark-bg:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  z-index: 2;
  /* background: black; */
  /* -webkit-backdrop-filter: invert(100%); */
  /* backdrop-filter: invert(100%); */
  backdrop-filter: inherit (100%);
}

.mil-dark-bg .mi-invert-fix {
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
}

.mil-dark-bg .mi-invert-fix .container {
  pointer-events: all;
}

.mil-soft-bg {
  background-color: rgb(242, 242, 242);
}

.mil-softer-bg {
  background-color: rgba(242, 242, 242, 0.79);
}

/* -------------------------------------------

spaces

------------------------------------------- */
.mil-mr-30 {
  margin-right: 30px;
}

.mil-mb-5 {
  margin-bottom: 5px;
}

.mil-mb-10 {
  margin-bottom: 10px;
}

.mil-mb-15 {
  margin-bottom: 15px;
}

.mil-mb-20 {
  margin-bottom: 15px;
}

.mil-mb-30 {
  margin-bottom: 30px;
}

.mil-mb-60 {
  margin-bottom: 60px;
}

.mil-mb-50 {
  margin-bottom: 50px;
}

.mil-mb-90 {
  margin-bottom: 90px;
}

.mil-mb-120 {
  margin-bottom: 120px;
}

@media screen and (max-width: 992px) {
  .mil-mb-120 {
    margin-bottom: 90px;
  }
}

.mil-mt-suptitle-offset {
  margin-top: 70px;
}

@media screen and (max-width: 992px) {
  .mil-mt-suptitle-offset {
    margin-top: 30px;
  }
}

.mil-p-120-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}


@media screen and (max-width: 992px) {
  .mil-p-120-120 {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.mil-p-120-90 {
  padding-top: 120px;
  padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
  .mil-p-120-90 {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

.mil-p-120-09 {
  padding-top: 120px;
  padding-bottom: 0px;
}

@media screen and (max-width: 992px) {
  .mil-p-120-09 {
    padding-top: 90px;
    padding-bottom: 60px;
  }
}

.mil-p-0-120 {
  padding-bottom: 120px;
}

@media screen and (max-width: 992px) {
  .mil-p-0-120 {
    padding-bottom: 90px;
  }
}

.mil-p-120-0 {
  padding-top: 120px;
}

@media screen and (max-width: 992px) {
  .mil-p-120-0 {
    padding-top: 90px;
  }
}

.mil-p-120-60 {
  padding-top: 120px;
  padding-bottom: 60px;
}

@media screen and (max-width: 992px) {
  .mil-p-120-60 {
    padding-top: 90px;
    padding-bottom: 30px;
  }
}

.mil-p-90-90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
  .mil-p-90-90 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.mil-p-90-120 {
  padding-top: 90px;
  padding-bottom: 120px;
}

@media screen and (max-width: 992px) {
  .mil-p-90-120 {
    padding-top: 60px;
    padding-bottom: 90px;
  }
}

.mil-p-0-90 {
  padding-bottom: 90px;
}

@media screen and (max-width: 992px) {
  .mil-p-0-90 {
    padding-bottom: 60px;
  }
}

.mil-p-0-30 {
  padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .mil-p-0-30 {
    padding-bottom: 0;
  }
}

.mil-p-120-30 {
  padding-top: 100px;
  padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .mil-p-120-30 {
    padding-top: 90px;
    padding-bottom: 0;
  }
}

.mil-adaptive-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 992px) {
  .mil-adaptive-right {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.mil-btn-space {
  margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .mil-btn-space {
    margin-right: 50px;
    margin-bottom: 30px;
  }
}


/* -------------------------------------------

cursor  

------------------------------------------- */


.custom-cursor__cursor {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: 1px solid rgb(210, 142, 15);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  z-index: 999991;
}

.custom-cursor__cursor-two {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(210, 142, 15);
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 999991;
}

.custom-cursor__hover {
  background-color: rgb(210, 142, 15);
  opacity: 0.4;
}

.custom-cursor__innerhover {
  width: 25px;
  height: 25px;
  opacity: 0.4;
}


/* -------------------------------------------

hidden elements

------------------------------------------- */
.mil-hidden-elements .mil-dodecahedron,
.mil-hidden-elements .mil-lines,
.mil-hidden-elements .mil-arrow {
  display: none;
}



/* -------------------------------------------

frame

------------------------------------------- */
.mil-logo {
  font-size: 42px;
  font-weight: 500;
  line-height: 100%;
}

@media screen and (max-width: 992px) {
  .mil-logo {
    font-size: 36px;
  }
}

.mil-frame {
  padding: 50px 60px 60px 60px;
  position: fixed;
  z-index: 2;
  pointer-events: none;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .mil-frame {
    padding: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .mil-frame {
    padding: 0;
    z-index: 999;
    height: 90px;
  }
}

@media screen and (max-width: 1200px) {
  .mil-frame .mil-frame-top {
    height: 90px;
    background-color: rgba(0, 0, 0, 0.95);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    padding: 0 30px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }

  .mil-frame .mil-frame-top .mil-logo {
    color: rgb(255, 255, 255);
  }

  .mil-frame .mil-frame-top .mil-menu-btn span,
  .mil-frame .mil-frame-top .mil-menu-btn span:after,
  .mil-frame .mil-frame-top .mil-menu-btn span:before {
    /* background: rgb(255, 255, 255); */
    backdrop-filter: inherit (100%);
  }
}

.mil-frame .mil-frame-bottom {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 1200px) {
  .mil-frame .mil-frame-bottom {
    display: none;
  }
}

.mil-frame .mil-frame-bottom .mil-current-page {
  pointer-events: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Outfit", sans-serif !important;
  width: 300px;
  color: rgb(0, 0, 0);
  -webkit-transform: rotate(-90deg) translateX(138px) translateY(-138px);
  transform: rotate(-90deg) translateX(138px) translateY(-138px);
}

.mil-frame .mil-frame-bottom .mil-back-to-top {
  width: 300px;
  -webkit-transform: rotate(-90deg) translateX(130px) translateY(130px);
  transform: rotate(-90deg) translateX(130px) translateY(130px);
  pointer-events: all;
}

.mil-frame-top {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  /* background-color: grey !important; */
  align-items: center;
}

.mil-frame-top .mil-logo {
  pointer-events: all;
  color: rgb(0, 0, 0);
}

/* -------------------------------------------

menu button

------------------------------------------- */
.mil-menu-btn {
  pointer-events: all;
  height: 28px;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

@media screen and (max-width: 992px) {
  .mil-menu-btn {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
}

.mil-menu-btn span:after,
.mil-menu-btn span:before {
  content: "";
  display: block;
  width: 30px;
  height: 2.5px;
  /* background-color: white; */
  backdrop-filter:invert(100%);
  -webkit-backdrop-filter: invert(100%);
  backface-visibility: hidden;
  transition: inherit;
}


.mil-menu-btn span {
  content: "";
  display: block;
  width: 30px;
  height: 2.5px;
  background-color: white;
  /* backdrop-filter:inherit(10%);
  -webkit-backdrop-filter: inherit(10%); */
  backface-visibility: hidden;
  transition: inherit;
  position: relative;
}

.mil-menu-btn span:after,
.mil-menu-btn span:before {
  position: absolute;
  backdrop-filter:inherit(100%);
  -webkit-backdrop-filter: inherit(100%);
  
}

.mil-menu-btn span:before {
  top: -9px;
  backdrop-filter:invert(100%);
  -webkit-backdrop-filter: invert(100%);
}

.mil-menu-btn span:after {
  width: 18px;
  top: 9px;
  backdrop-filter:inherit(100%);
  -webkit-backdrop-filter: inherit(100%);
}

.mil-menu-btn.mil-active span {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

.mil-menu-btn.mil-active span:before {
  -webkit-transform: translate(0px, 9px) rotate(-90deg);
  transform: translate(0px, 9px) rotate(-90deg);
}

.mil-menu-btn.mil-active span:after {
  opacity: 0;
  width: 24px;
  -webkit-transform: translate(0px, -9px) rotate(-90deg);
  transform: translate(0px, -9px) rotate(-90deg);
}

/* -------------------------------------------

menu

------------------------------------------- */
.mil-menu-frame {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-menu-frame .container {
  pointer-events: none;
}

.mil-menu-frame .mil-frame-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 60px;
}

@media screen and (max-width: 1200px) {
  .mil-menu-frame .mil-frame-top {
    display: none;
  }
}

.mil-menu-frame .mil-frame-top .mil-logo {
  color: rgb(255, 255, 255);
}

.mil-menu-frame .mil-frame-top .mil-menu-btn span,
.mil-menu-frame .mil-frame-top .mil-menu-btn span:after,
.mil-menu-frame .mil-frame-top .mil-menu-btn span:before {
  background-color: #fff;
}

.mil-menu-frame .mil-main-menu {
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

@media screen and (max-width: 1200px) {
  .mil-menu-frame .mil-main-menu {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
  .mil-menu-frame .mil-menu-right-frame {
    height: 78vh !important;
  }
}

@media screen and (min-width: 1280px) and (min-height: 800px) {
  .mil-menu-frame .mil-menu-right-frame {
    height: 80vh;
  }
}


.mil-menu-frame .mil-menu-right-frame {
  padding-left: 60px;
  position: relative;
  height: 90vh;
  display: flex;
  /* -webkit-box-align: end;
  -ms-flex-align: end; */
  align-items: flex-end;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-menu-frame .mil-menu-right-frame .mil-menu-right {
  padding-bottom: 60px;
}

.mil-menu-frame .mil-menu-right-frame .mil-animation-in {
  position: absolute;
  top: -320px;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(-60px);
  transform: translateY(-60px);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

@media screen and (max-width: 1200px) {
  .mil-menu-frame .mil-menu-right-frame {
    display: none;
  }
}

@media screen and (max-height: 800px) {
  .mil-menu-frame .mil-menu-right-frame {
    /* display: none; */
  }
}

.mil-menu-frame.mil-active {
  opacity: 1;
  pointer-events: all;
}

.mil-menu-frame.mil-active .container {
  pointer-events: all;
}

.mil-menu-frame.mil-active .mil-main-menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.mil-menu-frame.mil-active .mil-menu-right-frame {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.mil-menu-frame.mil-active .mil-menu-right-frame .mil-animation-in {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

.mil-menu-list li {
  list-style-type: none;
  margin-bottom: 15px;
}

.mil-menu-list li:last-child {
  margin-bottom: 0;
}

.mil-menu-list li a {
  display: block;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-menu-list li a:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  color: rgb(255, 255, 255);
}

.mil-menu-list.mil-hori-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mil-menu-list.mil-hori-list li {
  margin-bottom: 0;
  margin-right: 30px;
}

.mil-menu-list.mil-dark li a {
  color: rgb(0, 0, 0);
}

.mil-main-menu {
  height: 100vh;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mil-main-menu ul {
  padding: 0;
  margin: 0;
}

.mil-main-menu ul li {
  margin-bottom: 40px;
}

.mil-main-menu ul li:last-child {
  margin-bottom: 0;
}

.mil-main-menu ul li span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 34px;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

@media screen and (max-width: 992px) {
  .mil-main-menu ul li span {
    font-size: 26px;
  }
}

.mil-main-menu ul li span:before {
  content: "";
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-main-menu ul li span:hover {
  color: rgb(255, 255, 255);
}

.mil-main-menu ul li span.mil-active {
  padding-left: 25px;
}

.mil-main-menu ul li span.mil-active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: rgb(255, 152, 0);
}

.mil-main-menu ul li.mil-active>span {
  color: #ffd94a;
}

.mil-main-menu ul li.mil-active>span:hover {
  color: #ffd94a !important;
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.mil-main-menu ul li.mil-has-children>span:hover {
  color: rgb(255, 255, 255);
  padding-left: 25px;
}

.mil-main-menu ul li.mil-has-children>span:hover:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mil-main-menu ul li.mil-has-children ul {
  padding-left: 25px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-main-menu ul li.mil-has-children ul li {
  margin-bottom: 5px;
}

.mil-main-menu ul li.mil-has-children ul li:first-child {
  margin-top: 40px;
}

.mil-main-menu ul li.mil-has-children ul li span {
  display: block;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.mil-main-menu ul li.mil-has-children ul li span:before {
  display: none;
}

.mil-main-menu ul li.mil-has-children ul li span:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.mil-main-menu ul li.mil-has-children ul.mil-active {
  max-height: 200px;
}

@media screen and (max-width: 1200px) {
  .mil-main-menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .mil-main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mil-main-menu ul li {
    margin-bottom: 30px;
  }

  .mil-main-menu ul li a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .mil-main-menu ul li a:before {
    display: none;
  }

  .mil-main-menu ul li a.mil-active {
    padding-left: 0 !important;
  }

  .mil-main-menu ul li.mil-has-children ul {
    padding-left: 0;
  }

  .mil-main-menu ul li.mil-has-children ul li:first-child {
    margin-top: 30px;
  }
}



/* -------------------------------------------

banner

------------------------------------------- */
.mil-banner {
  height: 100vh;
}

.mil-banner .container {
  height: 100vh;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
}

.mil-banner .mil-banner-content {
  width: 100%;
  padding-bottom: 120px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .mil-banner .mil-banner-content {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 1366px) {
  .mil-banner .container {
    height: 100% !important;
  }
}

.mil-banner .mil-lines-place {
  position: absolute;
  left: 0;
  bottom: calc(100% + 120px);
}

.mil-inner-banner .mil-banner-content {
  padding: 150px 0 0 0;
}

@media screen and (max-width: 1200px) {
  .mil-inner-banner .mil-banner-content {
    padding: 180px 0 0 0;
  }
}

.mil-banner-personal {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.mil-banner-personal .mil-banner-content {
  position: relative;
  padding-top: 90px;
}

@media screen and (max-width: 992px) {
  .mil-banner-personal .mil-banner-content {
    padding-top: 180px;
  }
}

.mil-banner-personal .mil-banner-content .mil-personal-text {
  margin-bottom: 300px;
}

@media screen and (max-width: 992px) {
  .mil-banner-personal .mil-banner-content .mil-personal-text {
    margin-bottom: 80px;
    text-align: center;
  }
}

.mil-banner-personal .mil-banner-content .mil-banner-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 60px 0 90px;
  background-color: rgb(255, 255, 255);
  height: 180px;
  position: absolute;
  top: calc(100vh - 180px);
  left: 0;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .mil-banner-personal .mil-banner-content .mil-banner-panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding: 60px 30px;
  }

  .mil-banner-personal .mil-banner-content .mil-banner-panel h5 {
    margin-bottom: 60px;
    text-align: center;
    width: 80%;
  }
}

.mil-banner-personal .mil-banner-content .mil-banner-panel .mil-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mil-banner-personal .mil-banner-content .mil-banner-panel .mil-right .mil-social-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 30px;
  padding: 0 50px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 70px;
  border-radius: 70px;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-banner-personal .mil-banner-content .mil-banner-panel .mil-right .mil-social-frame:hover {
  -webkit-transform: scale(1.015);
  transform: scale(1.015);
}

@media screen and (max-width: 992px) {
  .mil-banner-personal .mil-banner-content .mil-banner-panel .mil-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mil-banner-personal .mil-banner-content .mil-banner-panel .mil-right .mil-social-frame {
    margin-right: 0;
    margin-bottom: 30px;
    height: 60px;
  }
}

.mil-banner-personal .mil-banner-content .mil-banner-panel .mil-button {
  margin: 0 !important;
}

@media screen and (max-width: 992px) {
  .mil-banner-personal .mil-banner-content .mil-banner-panel {
    bottom: 0;
    top: auto;
  }
}

@media screen and (max-width: 768px) {
  .mil-banner-personal .mil-banner-content .mil-banner-panel {
    position: static;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 992px) {
  .mil-banner-personal {
    height: auto;
  }
}

.mil-portrait-frame {
  position: relative;
}

.mil-portrait-frame img {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.mil-portrait-frame .mil-nimbus {
  background: radial-gradient(50% 50% at 50% 50%, #ffd94a 0%, rgba(250, 168, 69, 0) 100%);
  width: 100%;
  padding-bottom: 100%;
  position: absolute;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .mil-portrait-frame {
    height: 400px;
  }

  .mil-portrait-frame img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
  }
}


/* -------------------------------------------

lines

------------------------------------------- */
@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
  }

  50% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
  }

  to {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
  }

  50% {
    -webkit-transform: translateY(75px);
    transform: translateY(75px);
  }

  to {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
  }
}

.mil-lines-place .mil-lines {
  opacity: 0.05;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .mil-lines-place .mil-lines {
    display: none;
  }
}

.mil-lines-place .mil-lines path,
.mil-lines-place .mil-lines rect,
.mil-lines-place .mil-lines line {
  stroke: rgb(0, 0, 0);
}

.mil-lines-place .mil-lines .mil-move {
  -webkit-animation: move 10s linear infinite;
  animation: move 10s linear infinite;
}

.mil-lines-place.mil-light .mil-lines {
  opacity: 0.2;
}

.mil-lines-place.mil-light .mil-lines path,
.mil-lines-place.mil-light .mil-lines rect,
.mil-lines-place.mil-light .mil-lines line {
  stroke: rgb(255, 255, 255);
}

/* -------------------------------------------

dodecahedron

------------------------------------------- */
.mil-animation-frame {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  -webkit-animation: jump 10s linear infinite;
  animation: jump 10s linear infinite;
  pointer-events: none;
}

.mil-animation {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 300px;
  opacity: 0.2;
  pointer-events: none;
}

.mil-position-1 {
  top: 100px;
  right: 290px;
}

.mil-position-1 .mil-pentagon div {
  border-top: 0.1px solid rgb(255, 255, 255);
}

.mil-position-2 {
  top: -60px;
  left: 15%;
}

.mil-position-2 .mil-pentagon div {
  border-top: 1px solid rgb(255, 255, 255);
}

.mil-position-2 .mil-dodecahedron {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@media screen and (max-width: 1400px) {
  .mil-position-2 {
    display: none;
  }
}

.mil-position-3 {
  bottom: -100px;
  right: 35%;
}

.mil-position-3 .mil-pentagon div {
  border-top: 1px solid rgb(255, 255, 255);
}

.mil-position-3 .mil-dodecahedron {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@media screen and (max-width: 1400px) {
  .mil-position-3 {
    display: none;
  }
}

.mil-position-4 {
  top: -60px;
  right: 20%;
}

.mil-position-4 .mil-pentagon div {
  border-top: 0.1px solid rgb(255, 255, 255);
}

.mil-position-4 .mil-dodecahedron {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@media screen and (max-width: 1400px) {
  .mil-position-4 {
    display: none;
  }
}

.mil-position-4.mil-dark .mil-pentagon div {
  border-top: 0.1px solid rgb(0, 0, 0);
}

.mil-dodecahedron {
  position: relative;
  left: 100px;
  top: 40px;
  width: 100px;
  height: 223px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
    transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
    transform: rotateX(360deg) rotateY(0deg) rotateZ(-360deg);
  }
}

.mil-pentagon {
  position: absolute;
  width: 100px;
}

.mil-pentagon:nth-child(1) {
  -webkit-transform: rotateY(0.2turn) translateZ(69px) rotateX(26.5deg);
  transform: rotateY(0.2turn) translateZ(69px) rotateX(26.5deg);
}

.mil-pentagon:nth-child(6) {
  bottom: 0;
  -webkit-transform: rotateY(0.2turn) translateZ(-69px) rotateX(206.5deg);
  transform: rotateY(0.2turn) translateZ(-69px) rotateX(206.5deg);
}

.mil-pentagon:nth-child(2) {
  -webkit-transform: rotateY(0.4turn) translateZ(69px) rotateX(26.5deg);
  transform: rotateY(0.4turn) translateZ(69px) rotateX(26.5deg);
}

.mil-pentagon:nth-child(7) {
  bottom: 0;
  -webkit-transform: rotateY(0.4turn) translateZ(-69px) rotateX(206.5deg);
  transform: rotateY(0.4turn) translateZ(-69px) rotateX(206.5deg);
}

.mil-pentagon:nth-child(3) {
  -webkit-transform: rotateY(0.6turn) translateZ(69px) rotateX(26.5deg);
  transform: rotateY(0.6turn) translateZ(69px) rotateX(26.5deg);
}

.mil-pentagon:nth-child(8) {
  bottom: 0;
  -webkit-transform: rotateY(0.6turn) translateZ(-69px) rotateX(206.5deg);
  transform: rotateY(0.6turn) translateZ(-69px) rotateX(206.5deg);
}

.mil-pentagon:nth-child(4) {
  -webkit-transform: rotateY(0.8turn) translateZ(69px) rotateX(26.5deg);
  transform: rotateY(0.8turn) translateZ(69px) rotateX(26.5deg);
}

.mil-pentagon:nth-child(9) {
  bottom: 0;
  -webkit-transform: rotateY(0.8turn) translateZ(-69px) rotateX(206.5deg);
  transform: rotateY(0.8turn) translateZ(-69px) rotateX(206.5deg);
}

.mil-pentagon:nth-child(5) {
  -webkit-transform: rotateY(1turn) translateZ(69px) rotateX(26.5deg);
  transform: rotateY(1turn) translateZ(69px) rotateX(26.5deg);
}

.mil-pentagon:nth-child(10) {
  bottom: 0;
  -webkit-transform: rotateY(1turn) translateZ(-69px) rotateX(206.5deg);
  transform: rotateY(1turn) translateZ(-69px) rotateX(206.5deg);
}

.mil-pentagon:nth-child(11) {
  -webkit-transform: translateZ(69px) rotateX(-90deg);
  transform: translateZ(69px) rotateX(-90deg);
}

.mil-pentagon:nth-child(12) {
  bottom: 0;
  -webkit-transform: translateZ(-69px) rotateX(90deg);
  transform: translateZ(-69px) rotateX(90deg);
}

.mil-pentagon div {
  position: absolute;
  width: 100px;
  height: 69px;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

.mil-pentagon div:nth-child(1) {
  -webkit-transform: rotate(0.2turn);
  transform: rotate(0.2turn);
}

.mil-pentagon div:nth-child(2) {
  -webkit-transform: rotate(0.4turn);
  transform: rotate(0.4turn);
}

.mil-pentagon div:nth-child(3) {
  -webkit-transform: rotate(0.6turn);
  transform: rotate(0.6turn);
}

.mil-pentagon div:nth-child(4) {
  -webkit-transform: rotate(0.8turn);
  transform: rotate(0.8turn);
}

.mil-pentagon div:nth-child(5) {
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn);
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

/* -------------------------------------------

partners

------------------------------------------- */
.swiper-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}


/* -------------------------------------------

services

------------------------------------------- */
.mil-complex-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mil-complex-text .mil-button {
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .mil-complex-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .mil-complex-text .mil-button {
    margin-left: 0;
    margin-top: 60px;
  }
}

.mil-text-image {
  height: 80px;
  width: 250px;
  display: inline-block;
  overflow: hidden;
  border-radius: 70px;
  margin-right: 30px;
}

.mil-text-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-text-image:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .mil-text-image {
    display: none;
  }
}

.mil-service-card-sm {
  position: relative;
  display: block;
  padding: 60px 30px;
}

.mil-service-card-sm p {
  /* opacity: 0; */
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-service-card-sm .mil-button {
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.4;
}

.mil-service-card-sm:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #ffd94a;
  -webkit-transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.6s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-service-card-sm:hover p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.mil-service-card-sm:hover .mil-button {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}

.mil-service-card-sm:hover:before {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .mil-service-card-sm p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .mil-service-card-sm .mil-button {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
  }
}

.mil-services-grid {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.mil-services-grid .mil-services-grid-item {
  border-right: solid 1px rgba(255, 255, 255, 0.1) !important;
}

.mil-services-grid .mil-services-grid-item:first-child {
  border-left: solid 1px rgba(255, 255, 255, 0.1) !important;
}

@media screen and (max-width: 992px) {
  .mil-services-grid {
    padding-bottom: 90px;
  }

  .mil-services-grid .mil-services-grid-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1) !important;
  }

  .mil-services-grid .mil-services-grid-item:nth-child(3) {
    border-left: solid 1px rgba(255, 255, 255, 0.1) !important;
  }
}

@media screen and (max-width: 768px) {
  .mil-services-grid {
    padding-bottom: 90px;
  }

  .mil-services-grid .mil-services-grid-item {
    border-left: solid 1px rgba(255, 255, 255, 0.1) !important;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1) !important;
  }
}


.mil-service-list li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  list-style-type: none;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 12px;
}

.mil-service-list li:first-child {
  border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.mil-service-list.mil-light li {
  color: rgba(255, 255, 255, 0.6);
}

.mil-service-list.mil-dark li {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.mil-service-list.mil-dark li:first-child {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}


/* -------------------------------------------

social icons

------------------------------------------- */
.mil-social-icons {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mil-social-icons.mil-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mil-social-icons li {
  list-style-type: none;
  margin-right: 15px;
}

.mil-social-icons li:last-child {
  margin-right: 0;
}

.mil-social-icons li a {
  color: rgb(255, 255, 255);
  font-size: 18px;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-social-icons li a:hover {
  color: #ffd94a;
}

.mil-social-icons.mil-dark li a {
  color: rgb(0, 0, 0);
}

.mil-social-icons.mil-dark li a:hover {
  color: #ffd94a;
}


/* -------------------------------------------

blog

------------------------------------------- */
.mil-blog-card {
  display: block;
}

.mil-blog-card .mil-cover-frame {
  position: relative;
  overflow: hidden;
  padding-bottom: 65%;
  margin-bottom: 30px;
}

.mil-blog-card .mil-cover-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-blog-card .mil-post-descr {
  padding: 30px 30px 0 0;
}

.mil-blog-card .mil-post-descr .mil-post-text {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: black !important;
}

.mil-blog-card:hover .mil-cover-frame img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.mil-blog-card.mil-blog-card-hori {
  padding-top: 60px;
  border-top: solid 1px rgb(229, 229, 229);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mil-blog-card.mil-blog-card-hori .mil-cover-frame {
  margin-bottom: 0;
  width: 450px;
  padding-bottom: 27%;
}

.mil-blog-card.mil-blog-card-hori .mil-post-descr {
  width: calc(100% - 450px);
  padding: 0;
  padding-left: 60px;
}

@media screen and (max-width: 992px) {
  .mil-blog-card.mil-blog-card-hori {
    display: block;
    padding-top: 0;
    border: none;
  }

  .mil-blog-card.mil-blog-card-hori .mil-cover-frame {
    width: 100%;
    padding-bottom: 65%;
    margin-bottom: 30px;
  }

  .mil-blog-card.mil-blog-card-hori .mil-post-descr {
    width: 100%;
    padding: 30px 30px 0 0;
  }
}

.mil-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.mil-labels .mil-label {
  margin-right: 15px;
}

.mil-labels .mil-label:last-child {
  margin-right: 0;
}

.mil-pagination {
  padding-top: 60px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.mil-pagination-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  margin-right: 10px;
}

.mil-pagination-btn.mil-active {
  background-color: #ffd94a;
}






/***************************

images

***************************/
.mil-image-frame {
  position: relative;
  overflow: hidden;
}

.mil-image-frame>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.mil-image-frame.mil-horizontal {
  padding-bottom: 65%;
}

.mil-image-frame.mil-vertical {
  padding-bottom: 140%;
}

.mil-image-frame.mil-square {
  padding-bottom: 100%;
}

.mil-image-frame.mil-fw {
  padding-bottom: 50%;
}

.mil-image-frame .mil-zoom-btn {
  opacity: 0;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
  transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-image-frame .mil-zoom-btn:hover {
  background-color: rgb(255, 255, 255);
}

.mil-image-frame .mil-zoom-btn img {
  height: 17px;
  width: 17px;
}

.mil-image-frame:hover .mil-zoom-btn {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 2;
}

/***************************

page transitions

***************************/
.mil-frame {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.mil-curtain {
  position: fixed;
  /* pointer-events: none; */
  /* z-index: 4; */
  /* background-color: rgb(0, 0, 0); */
  /* opacity: 0; */
  /* width: 100%; */
  /* height: 100vh; */
  /* -webkit-transition: 0.6s;
  transition: 0.6s; */
}

.mil-main-transition {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin-top: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.mil-main-transition .mil-animation-frame {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.mil-main-transition .mil-lines-place {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

html.is-animating .mil-frame {
  opacity: 0;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

@media screen and (max-width: 1200px) {
  html.is-animating .mil-frame {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

html.is-animating .mil-curtain {
  opacity: 1;
  pointer-events: all;
}

html.is-animating .mil-main-transition {
  margin-top: 0.1px;
}

html.is-animating .mil-main-transition .mil-animation-frame {
  opacity: 0;
  margin-top: -90px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

html.is-animating .mil-main-transition .mil-lines-place {
  opacity: 0;
  margin-top: 90px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

html.is-animating .mil-menu-frame {
  opacity: 0;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.logoimagesystm {
  display: block;
}

.logoimagemobile {
  display: none;
}

@media (max-width: 767px) {
  /* .mil-frame .mil-frame-top {
    padding: 0;
  } */

  .uniidea {
    text-align: center !important;
    padding: 0;
  }

  .custom-cursor__cursor {
    display: none;
  }

  .custom-cursor__cursor-two {
    display: none;
  }

  .logoimagesystm {
    display: none;
  }

  .logoimagemobile {
    display: block;
  }

  .mil-mutede {
    color: white;
    font-size: 34px !important;
  }

  .video {
    width: 100% !important;
  }


}

.unlisted {
  list-style-type: none;
  cursor: pointer;
}


.leftsidetag {
  align-content: flex-end;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 25px;
  left: 0;
  line-height: 25px;
  margin-left: 50px;
  position: absolute;
  top: 40%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  width: 50%;
  z-index: 3;
  font-size: 12px !important;
  font-weight: 500;
}

@media screen and (max-width: 768px) {

  .leftsidetag {
    display: none;
  }

  .demovl {
    display: none;
  }

  .systemvideo {
    display: none !important;
  }

  .mobilevideo {
    display: block;
    /* padding-bottom: 90px; */
  }

  .logoimagemobile {
    width: 12% !important;
  }
}

.bg-overlay {
  background-color: #00000050;
  height: 100%;
  color: white;
  display: grid;
  place-items: start;
  align-items: start;
}

.mil-mutede {
  color: white;
  font-size: 64px;
}

.mil-muteded {
  color: white;
  font-size: 18px;
  font-weight: 200 !important;
}

.helpyou {
  font-size: 68px;
  font-weight: 500 !important;
  color: #ffd94a;
}

.imageside {
  padding-right: 80px !important;
}

.video {
  top: 50%;
  left: 50%;
  width: 155%;
  border-radius: 2%;
}

.mil-rotate {
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: translate3d(0px, 0px, 0px) rotate(360deg) scale(2, 2);
}