body {
  margin: 0;
  font-family: "Outfit", sans-serif !important;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;

}



/* .js-cont {
  position: relative;
  width: 100%;
  height: 100%;
}

.js-scroll {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  will-change: transform;
} */