.client_bg {
    background-color: black;
}

.client-carousel__title {
    text-align: center;
    display: block;
    font-weight: 500;
    /* / border-bottom: 1px solid #808080 !important; / */
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 99px;
    color: #fff;
}

@media (max-width: 767px) {
    .client-carousel__title {
        margin-bottom: 49px;
    }
    .carousel-logo {
        filter: grayscale(100%);
        filter: brightness(1) contrast(1.2) !important;
      }

    .logoclient {
        padding: 50px;
    }
}

@media (max-width: 1199px) {
    .client-carousel__title {
        margin-bottom: 69px;
    }
}

.client-carousel__title span {
    display: inline-block;
    background-color: black;
    padding: 5px 24px;
    z-index: 2;
    position: relative;
    top: 13px;
}
.carousel-logo {
    filter: grayscale(100%);
    filter: brightness(0.5) contrast(1.2);
  }
  
  .middle-logo {
    filter: brightness(1) contrast(1.2); /* Adjust styles for the middle image */
  }
  
  .other-logo {
    filter: grayscale(100%);
    filter: brightness(0.5) contrast(1.2); /* Adjust styles for the remaining images */
  }